<div class="panel panel-default">
  <div class="panel-heading">Total Users</div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Userame</th>
          <th>Email</th>
          <th>发送信息</th>
          <th>添加好友</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <% unless current_user == user %>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= link_to "发送信息", conversations_path(:sender_id => current_user.id, :recipient_id => user.id), method: :post %></td>
            <td>
            <% if !current_user.friends.include?(user) %>
              <%= link_to "添加好友", friendships_path(:friend_id => user), :method => :post %>
            <% else %>
              Your friend!
            <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
